/*На весь сайт*/
html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", "Arial",  sans-serif;

	color: #849d8f;
}
body> input[type="radio"] {
	display: none;
}
a {
	text-decoration: none;

	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

p {
	margin: 0;
}

.btn {
	display: inline-block;
	vertical-align: top;

	box-sizing: border-box;
	padding: 11px 22.75px;

	cursor: pointer;
	text-decoration: none;

	opacity: 0.988;
	color: white;
	border: none;
	border-radius: 50px;
	outline: none;
	background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
	box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}
.btn:hover {
	text-decoration: none;

	color: white;
	border: none;
	background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
	box-shadow: 0 1px 2px #ac1000;
}
.site-wrapper {
	min-width: 1200px;
	min-height: 100px;

	transition: background-image 0.5s ease,
	background-color 0.5s ease;

	background-color: #849d8f;
	background-image: url("../img/bg-ice.png");
	background-repeat: no-repeat;
	background-position: top center;
}
/*для предзагрузки слайдеров*/
.site-wrapper:before, .site-wrapper:after {
	visibility: hidden;

	content: "";
}
.site-wrapper:before, .site-wrapper:after {
	background-image: url(../img/bg-ice-2.png);
}
.site-wrapper:after {
	background-image: url(../img/bg-ice-3.png);
}
.content-wrapper {
	position: relative;

	width: 1146px;
	margin: 0 auto;
	padding-right: 27px;
	padding-left: 27px;
}
.clearfix:after {
	display: table;
	clear: both;

	content: " ";
}
/*Шапка*/
.main-header {
	width: auto;
	padding-top: 9px;
}
.main-nav {
	display: block;
	float: left;

	width: 700px;
}
.main-nav .logo {
	display: inline-block;
	vertical-align: top;

	margin-right: 7px;
	margin-left: 0;
}
.main-nav .catalog-page-logo {
	border: none;
}
.main-nav-list {
	display: inline-block;
	vertical-align: top;

	width: 450px;
	min-height: 64px;
	margin: 0;
	padding: 0;

	font-size: 0;

	list-style-type: none;

	-webkit-padding-start: 0;
}
.main-nav-item {
	position: relative;
	z-index: 22;

	display: inline-block;
	vertical-align: top;

	margin-right: 0;
	padding-top: 20px;

	font-size: 0;
}
.main-nav-item .main-nav-item_link {
	box-sizing: border-box;
	padding: 7px 13.5px;

	font-size: 16px;
	font-weight: 700;
	line-height: 18px;

	color: white;
	border: none;
	border-radius: 16px;
	/*для теста
	background-color: black;*/
}

.main-nav-item_link span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-nav-item_link:hover {
	color: black;
	background-color: white;
}
.main-nav-item:hover .catalog-menu-list-wrapper {
	display: block;
}
.main-nav-item_link:active {
	background-color: #ededed;
	box-shadow: inset 0 2px 1px dimgrey;
}

.catalog-menu-list-wrapper {
position: absolute;
    z-index: 1;
    top: 30px;
    left: 0px;
    padding-top: 20px;
    display: none;
}
.catalog-menu-list {
/*	position: absolute;
	z-index: 22;
	top: 49px;
	left: 0;

	display: block;*/
	overflow: hidden;

	box-sizing: border-box;
	width: 143px;
	margin: 0;
	padding: 0;

	font-size: 14px;
	font-weight: 400;
	line-height: 16px;

	list-style: none;

	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-menu-item a {
	display: block;

	box-sizing: border-box;
	height: 33px;
	padding-top: 8px;
	padding-left: 20px;

	text-decoration: none;

	color: #323232;
}
.catalog-menu-item a:hover {
	border: 0;
	background-color: #fbded7;
}

.catalog-menu-item:first-child {
	display: block;

	box-sizing: border-box;
	height: 33px;
	padding-top: 8px;
	padding-left: 20px;

	font-size: 14px;
	font-weight: 700;
	line-height: 16px;

	text-decoration: none;

	color: #323232;
}
.catalog-menu-item:first-child:after {
	position: absolute;
	top: 52px;
	left: 6px;

	width: 128px;
	height: 1px;

	content: "";

	background-color: #aebac7;
}
/*Правая часть шапки*/
.user-block {
	float: right;

	box-sizing: border-box;
	min-width: 267px;
	max-width: 350px;
	margin-right: -10px;

	font-size: 0;

	text-align: right;
}
.user-block-item {
	display: inline-block;
	vertical-align: top;

	min-height: 32px;
	margin-top: 14px;
	margin-right: 10px;

	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}
.user-block-item a {
	border: none;
}
/*потом можно будет убрать*/
.user-block-item a:hover {
	color: white;
	border: none;
}

.user-block .search {
	position: relative;

	box-sizing: border-box;
	width: 32px;
	height: 32px;
}

.search .search-link {
	display: block;

	box-sizing: border-box;
	width: 32px;
	height: 32px;
	padding: 7px;

	text-align: left;
	text-decoration: none;

	color: #ffffff;
	border-radius: 16px;
	background: url("../img/loop.png") no-repeat;
	background-color: rgba(255, 225, 225, 0.2);
	background-position: 50% 50%;
}

.user-block form {
	border-radius: 5px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.user-block input {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;

	color: rgb(153, 153, 153);
	border: 1px solid rgb(211, 211, 210);
	border-radius: 5px;
	background-color: white;
}

.search-form {
	width: 311px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}
.search-form input {
	width: 311px;
	height: 44px;	
}
.search-form input[placeholder] {
	padding-left: 13px;
}
.user-block .login {
	position: relative;
	z-index: 2;

	height: 32px;
}

.login-link {
	display: block;

	box-sizing: border-box;
	min-width: 92px;
	height: 32px;
	padding: 7px;
	padding-right: 10px;
	padding-left: 44px;

	text-align: left;
	text-decoration: none;

	color: #ffffff;
	border-radius: 16px;
	background-color: rgba(255, 225, 225, 0.2);
}
.login-link:before {
	position: absolute;
	left: 16px;

	width: 21px;
	height: 19px;

	content: "";

	background: url("../img/sprite.png") no-repeat;
	background-position: -68px -499px;
}
.login:hover .login-link {
	color: black;
	background-color: white;
}
.login:hover .login-link:before {
	background: url("../img/sprite.png") no-repeat;
	background-position: -68px -475px;
}
.login:hover .login-form {
	/*visibility: visible;*/
	display: block;
}
.login-form {
	display: block;
	position: absolute;
	z-index: 3;
	top: 36px;
	right: 0;

	visibility: visible;
/*overflow: hidden;*/

	width: 241px;
	min-height: 214px;
	padding-top: 20px;
	padding-right: 17px;
	padding-left: 17px;
}

.login-form input {
	width: 228px;
	height: 44px;
	margin-bottom: 20px;
}
.login-form input[placeholder] {
	padding-left: 13px;
}
.login-btn {
	float: left;

	margin-right: 10px;

	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.login-form a {
	display: block;

	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;

	text-decoration: underline;

	color: rgb(50, 50, 50);
	border: none;
}
.login-form a:hover {
	color: #e84d37;
	border: none; 
}
.user-block .basket {
	position: relative;

	height: 32px;
}
.basket-link {
	display: block;

	box-sizing: border-box;
	min-width: 117px;
	height: 32px;
	padding: 7px;
	padding-right: 10px;
	padding-left: 44px;

	text-align: left;
	text-decoration: none;

	color: #ffffff;
	border-radius: 16px;
	background-color: rgba(255, 225, 225, 0.2);
}
.basket-link:before {
	position: absolute;
	left: 16px;

	width: 21px;
	height: 20px;

	content: "";

	background: url("../img/sprite.png") no-repeat;
	background-position: -71px -80px;
}

.basket-content {
	box-sizing: border-box;
	width: 540px;
	min-height: 239px;
	padding: 15px;
	padding-top: 30px;
	padding-bottom: 20px;

	color: #323232;
	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.basket-table {
	margin-bottom: 10px;

	font-size: 13px;
	font-weight: 400;
	line-height: 16px;

	text-align: left;
}
.basket-table .icecream-type {
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}


.basket-col {
	padding: 12px 5px;
}
.basket-col:nth-child(1) {
	width: 10px;
	padding-left: 2px;
}
.basket-col:nth-child(2) {
	width: 3px;
	padding-left: 2px;
}
.basket-col:nth-child(3) {
	width: 260px;
	padding-left: 6px;
}
.basket-col:nth-child(4) {
	width: 120px;

	text-align: center;
}
.basket-col:nth-child(5) {
	width: 83px;

	text-align: center;
}
.basket-row-all {
	border-top: 1px solid #cacac7;
}
/*Время и телефон*/
.contact-info {
	position: absolute;
	z-index: 1;
	top: 71px;
	left: 1006.5px;

	text-align: right;

	color: white;
}
.contact-info .open-time {
	display: block;

	padding-bottom: 6px;

	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.contact-info .phone {
	display: block;

	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
}
/*Main*/
/*Sliders*/
.slider {
	margin-bottom: 36px;
	padding-top: 315px;

	text-align: center;

	color: white;
}
.slide {
	display: none;
}
.slide-title {
	width: 670px;
	margin: 0 auto;
	margin-bottom: 29px;

	font-size: 60px;
	font-weight: 700;
	line-height: 60px;

	color: white;
}
.slide-btn {
	display: inline-block;
	vertical-align: top;

	padding: 12px 42px;

	font-size: 32px;
	font-weight: 700;
	line-height: 44px;

	color: white;
	border-bottom: none;
	border-radius: 100px;
	background-color: white;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.slide-btn:hover {
	color: white;
	border: none;
	background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
	box-shadow: 0 2px 2px #ac1000;
}
.slide-btn:active {
	border: none;
	background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
	box-shadow: inset 0 2px 2px #942718;
}
.slider-controls {
	position: absolute;
	z-index: 22;
	z-index: 20;
	top: 562px;
	left: 29px;

	font-size: 0;
}
.slider-controls label {
	display: inline-block;
	vertical-align: top;

	width: 18px;
	height: 18px;
	margin-right: 6px;

	cursor: pointer;

	border: 2px solid white;
	border-radius: 50%;
	background-color: transparent;
}

#btn-1:checked~ .site-wrapper #slide1, #btn-2:checked~ .site-wrapper #slide2, #btn-3:checked~ .site-wrapper #slide3 {
	display: block;
}
#btn-1:checked~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/bg-ice.png");
}
#btn-2:checked~ .site-wrapper {
	background-color: #8996a6;
	background-image: url(../img/bg-ice-2.png);
}
#btn-3:checked~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url(../img/bg-ice-3.png);
}
#btn-1:checked~ .site-wrapper label[for="btn-1"], #btn-2:checked~ .site-wrapper label[for="btn-2"], #btn-3:checked~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}
/*баннеры*/
.main-offers {
	margin-bottom: 40px;
}
.offer h3 {
	margin: 0;
}
.offer {
	box-sizing: border-box;
	width: 560px;
	min-height: 230px;
	padding-top: 15px;
	padding-left: 19px;

	color: white;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.offer .offer-heading {
	margin-bottom: 15px;

	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}
.offer-text {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}
.offer-left {
	position: relative;

	float: left;

	background-image: url(../img/bg-raspberry.jpg);
}
.offer-btn {
	position: absolute;
	right: 21px;
	bottom: 26px;

	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}


.offer-right {
	position: relative;

	float: right;

	background-image: url(../img/bg-chocolate.jpg);
}
/*карточки товаров, почти попиксельно*/
.hits {
	font-size: 0;
}
article {
	display: inline-block;
	vertical-align: top;

	width: 267px;
	margin-bottom: 40px;
	padding-right: 26px;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;

	text-align: center;

	color: white;
}
article:nth-child(4n) {
	padding-right: 0;
}
.hit-img {
	position: absolute;

	width: 61px;
	height: 61px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -5px -43px;
}
.catalog-item {
	position: relative;
}
.catalog-item a {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
figure {
	margin: 0;
}
.catalog-item-img {
	margin-bottom: 7px;
}
.item-price {
	position: absolute;
	top: 209px;
	left: 0;

	font-size: 45px;
	font-weight: 700;
	line-height: 45px;

	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.small-letter {
	font-size: 30px;
}
/*самопиар*/
.advantages {
	min-height: 306px;
	margin-bottom: 40px;
	/*для инлайн-блоков*/

	font-size: 0;

	color: rgb(50, 50, 50);
	border-radius: 15px;
	background-image: url(../img/bg-waff.jpg);
}
.advantages-wrapper {
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 16px;
	padding-left: 20px;
}
.advantages-heading {
	display: inline-block;
	vertical-align: top;

	margin: 0;
	margin-bottom: 10px;

	font-size: 24px;
	font-weight: 543px;
	line-height: 30px;

	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
.advantages-item {
	display: inline-block;
	vertical-align: top;

	width: 535px; 
	/*размеры на глаз, проверить*/
	margin: 0;
	margin-right: 31px;
	margin-bottom: 10px;
	padding: 0;
}
.advantages-item:nth-child(odd) {
	margin-right: 0;
}

.icecream {
	display: block;
	float: left;

	width: 49px;
	height: 49px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -5px -109px;
}
.cow {
	display: block;
	float: left;

	width: 49px;
	height: 49px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -5px -163px;
}
.leaf {
	display: block;
	float: left;

	width: 49px;
	height: 49px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -59px -109px;
}
.temperature {
	display: block;
	float: left;

	width: 49px;
	height: 49px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -58px -163px;
}
.advantages-item p {
	display: block;
	float: right;

	width: 476px;
	margin-top: 12px;
	margin-left: 7px;

	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.additional-options {
	margin-bottom: 40px;
}
.options {
	box-sizing: border-box;
	width: 560px;
	min-height: 220px;

	border-radius: 15px;
	background-color: rgb(248, 247, 244);
}
.blog {
	float: left;

	padding-top: 26px;
	padding-left: 20px;

	color: rgb(50, 50, 50);
	background-image: url(../img/bg-straw.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.blog-news-heading {
	margin: 0;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
.blog-news-link {
	display: block;

	width: 300px;
}
.blog a {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;

	text-decoration: underline;

	color: rgb(50, 50, 50);
}

.mailout {
	float: right;

	padding-top: 27px;
	padding-left: 20px;

	color: rgb(90, 90, 90);
	background-image: url(../img/bg-mail.jpg);
	background-repeat: no-repeat;
}
.mailout-description {
	margin-bottom: 10px;
}
.mailout-form input {
	width: 368px;
	min-height: 44px;

	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
	background-color: white;
}

.mailout-form input::placeholder {
	padding-left: 10px;

	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;

	color: rgb(153, 153, 153);
}
.feedback {
	position: relative;
}
.feedback-wrapper {
	width: 1200px;
	margin: 0 auto; 
}
/*карта*/
.map {
	width: 1200px;
	min-height: 430px;

	border: 0;
	background-image: url(../img/map-pin.jpg);
	background-repeat: no-repeat;
}
iframe {
	width: 100%;
	min-height: 430px;

	border: 0;
}
.feedback-contacts {
	position: absolute;
	top: 63px;
	right: 27px;

	box-sizing: border-box;
	width: 302px;
	min-height: 305px;
	padding-top: 31px;
	padding-right: 24px;
	padding-bottom: 31px;
	padding-left: 24px;

	font-size: 0;

	color: rgb(50, 50, 50);
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.98);
}
.feedback-contacts p {
	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.feedback-contacts p:first-child {
	width: 150px;
}
.feedback-contacts b {
	display: inline-block;
	vertical-align: top;

	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
.feedback-contacts .address {
	padding-bottom: 20px;
}
.feedback-contacts .feedback-form-btn {
	margin-top: 27px;

	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
.feedback-form-modal {
	width: 477px;
	height: 442px;

	color: rgb(50, 50, 50);
	border-radius: 10px;
	background-color: rgb(248, 247, 244);
}
.feedback-form-modal span {
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}
.feedback-form-modal input {
	width: 267px;
	min-height: 44px;

	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
	background-color: white;
}
.feedback-form-modal input::placeholder {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;

	color: rgb(153, 153, 153);
}
.feedback-form-modal textarea {
	width: 428px;
	min-height: 155px;

	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;

	color: rgb(153, 153, 153);
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
	background-color: white;
}
/*footer*/
footer {
	min-height: 103px;
}
.footer-social {
	float: left;

	width: 400px;
	padding-top: 35px;
}
.footer-social .social-btn {
	display: inline-block;
	vertical-align: top;

	margin: 0;
	margin-right: 10px;

	border: none;
}
.twitter {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -5px -389px;
}
.twitter:hover {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -48px -346px;
}
.twitter:active {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -5px -346px;
}
.insta {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -48px -303px;
}
.insta:hover {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -5px -303px;
}
.insta:active {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -48px -260px;
}
.facebook {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -5px -260px;
}
.facebook:hover {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -48px -217px;
}
.facebook:active {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -5px -217px;
}
.vk {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -48px -432px;
}
.vk:hover {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -5px -432px;
}
.vk:active {
	width: 38px;
	height: 38px;

	background: url("../img/sprite.png") no-repeat;
	background-position: -48px -389px;
}
.footer-docs {
	float: left;

	padding-top: 30px;
	padding-left: 23px;
}
.footer-docs .footer-docs-list {
	box-sizing: border-box;
	width: 320px;
	margin: 0;
	padding: 0;

	font-size: 0;

	list-style-type: none;
}
.footer-docs li {
	display: inline-block;
	vertical-align: top;

	padding-bottom: 5px;

	font-size: 13px;
	font-weight: 400;
	line-height: 18px;

	text-align: left;
}
.footer-docs li:first-child {
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
}
.footer-docs li:first-child:before {
	position: absolute;
	left: -22px;

	width: 15px;
	height: 13px;

	content: " ";

	background: url("../img/heart.png") no-repeat;
}
.footer-docs li:nth-child(odd) {
	position: relative;

	width: 120px;
	padding-right: 22px;
}
.footer-docs li:nth-child(even) {
	width: 170px;
	padding-right: 0;
}


.footer-copyright {
	float: right;

	width: 200px;
	margin-right: -12px;
	padding-top: 14px;

	text-align: left;

	color: white;
}
.footer-copyright img {
	display: inline-block;
	vertical-align: top;

	width: 108px;
	height: 38px;
	margin-bottom: 5px;
}
.footer-copyright> a {
	border: none;
}
.footer-copyright> a:hover {
	border: none;
}
.footer-copyright span {
	display: inline-block;
	vertical-align: top;

	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
/*footer ends*/

/*catalog.html*/
.breadcrumbs {
	margin-top: 20px;
}
.breadcrumbs ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
}
.breadcrumbs li {
	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.filter {
	margin-top: -20px;
	margin-bottom: 44px;
}
.filter h1 {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}
.filter-item {
	display: inline-block;
	vertical-align: top;

	border: none;
}
.filter-item legend {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}
.filter-field {
	min-height: 36px;

	border-radius: 25px;
	background-color: #aabbb1;
}
.filter-popular-width {
	width: 193px;

	text-align: center;
}
select {
	width: 193px;
	height: 36px;
	padding-right: 10px;
	padding-left: 10px;

	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;

	color: white;
	border: none;
	border-radius: 25px;
	background-color: inherit;
	background-image: url();
	/*скрыть стрелку for firefox*/

	-moz-appearance: none;
	/*for chrome*/
	-webkit-appearance: none;
}
/*скрыть стрелку for IE10*/
select::-ms-expand {
	display: none;
}

select:hover {
	color: black;
	background-color: white;
}
.filter-price-width {
	position: relative;

	box-sizing: border-box;
	width: 218px;
	min-height: 36px;
	padding-top: 17px;
}
.price-line-full {
	width: 188px;
	height: 4px;
	margin: 0 auto;

	background-color: #d1d9d2;
}
.price-line {
	width: 107px;
	height: inherit;
	margin-left: 30px;

	background-color: rgb(248, 247, 244);
}
.toggle {
	position: absolute;
	top: 8.5px;

	width: 20px;
	height: 20px;

	cursor: pointer;

	border-radius: 100%;
	background-color: rgb(248, 247, 244);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.toggle-left {
	left: 35px;
}
.toggle-right {
	right: 55px;
}
.filter-fat-width {
	width: 415px;
}
.filter-fat-width p {
	display: inline-block;
	vertical-align: top;
}
.filter-extra-width {
	width: 702px;
}
.filter-extra-width p {
	display: inline-block;
	vertical-align: top;
}
.filter-btn {
	width: 144px;
	height: 36px;

	border: 2px solid white;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.19);
}
.catalog {
	margin-bottom: 45px;

	font-size: 0;
}
.pagination {
	display: block;
	float: right;

	margin: 0;
	padding: 0;

	list-style-type: none;
}
.pagination li {
	display: inline-block;
	vertical-align: top;
}
.catalog-footer {
	margin-top: 101px;

	border-top: 1px solid #aebac7;
}